<% title "Active Todos" %>

<h2 >Active todos for ???</h2>

These are your active todos.

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Tags</th>
    <th>Priority</th>
    <th>Due</th>
    <th>Project</th>
    <th>Completed</th>
  </tr>
  <% for todo in @todos %>
    <tr>
      <td><b><%= link_to todo.title, todo %></b></td>
      <td><%= user_column(todo.user) %></td>
      <td><%= todo.tags %></td>
      <td><%= priority_column todo %></td>
      <td><%= todo.due %></td>
      <td><%= title_column(todo.project) %></td>
      <td><%= todo.completed %></td>
      <td><%= link_to "Show", todo %></td>
      <td><%= link_to "Edit", edit_todo_path(todo) %></td>
      <td><%= link_to "Destroy", todo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Todo", new_todo_path %></p>
