<% title "Todos" %>

<table>
  <tr>
    <th>Title</th>
    <th>Notes</th>
    <th>User</th>
    <th>Tags</th>
    <th>Priority</th>
    <th>Due</th>
    <th>Group</th>
    <th>Completed</th>
  </tr>
  <% for todo in @todos %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.notes %></td>
      <td><%= todo.user_id %></td>
      <td><%= todo.tags %></td>
      <td><%= todo.priority %></td>
      <td><%= todo.due %></td>
      <td><%= todo.group_id %></td>
      <td><%= todo.completed %></td>
      <td><%= link_to "Show", todo %></td>
      <td><%= link_to "Edit", edit_todo_path(todo) %></td>
      <td><%= link_to "Destroy", todo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Todo", new_todo_path %></p>
