<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id='header'>
		<div align='right' class='login_stuff' >
			<%= render :partial => "layouts/login_stuff" %>
		</div>
		<div align='center' class='model_menu' >
		[
		 <%= link_to 'Home','/' %> |
		 <%= link_to 'Todos','/todos' %> |
		 <%= link_to 'Projects',"/projects" %> 
		]
		</div>
	</div>
	
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>

	<hr/>
	<div id='footer'>
	[
	 <%= link_to 'Home','/' %> |
	 <%= link_to 'Contact Us','/home/contact_us' %> |
	 <%= link_to 'Docs','/home/docs' %> |
	 <%= link_to 'About','/home/about' %>
	]
	</div>
  </body>
</html>
